body{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.container{
    width: 100vi;
    height: 100vh;
    display: flex;
    flex-direction: row;
    transition: all;
    transition: 2s linear;
    /* background-color: #f6f3f3; */
}
.ad{
    flex:1;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
}
.imgContainer{
    position: relative;   
}
.reginText{
    position: absolute;
    top: 10%;
    left: 55%;
    transform: translate(-50%, -50%);

}
.logimg{
   
    width: 700px;
    height: 700px;
    margin-left: 50px;
    object-fit: contain;
}

.ptag{
    font-size: 35px;
    font-style: italic;
    font-weight: 700;
    color: #c94848;
    margin-left: 25px;
}
.button{
    margin-top: 10px;
    height: 40px;
    width: 250px;
    border-radius: 20px;
    border: 1px solid #b7c1f0;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: .6px;
    background-color: #aabaff;
    color: white;
    position: relative;
    cursor: pointer;
    left: -7px;
}
.button:hover{
    transform: scale(1.2);
}
.loginContainer{
flex:3;
display: flex;
align-items: center;
justify-content: center;
}

.login{
display: flex;
margin-top: -10px;
width: 400px;
height: 550px;
background:  linear-gradient(#e7e74e, #60f165);
border-radius: 5%;
padding: 20px;
flex-direction: column;
align-items: center;
justify-content: center;
}
.inp{
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 10%;
}
.links{
    display: flex;
    flex-direction: column;
}
input::placeholder{
    color: white;
}
.in{
    border-radius: 5%;
    
    padding: 0;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-bottom: 1.2px solid white;
    background: transparent;
    color: white;
    outline: none;
    width: 260px;
    height: 40px;

}
.links{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn{
    /* margin-top: 7px; */
    color: rgb(246, 137, 90);
    cursor: pointer;
    background-color:white;
    font-size: 14px;
    font-weight:400;
    width: 160px;
    padding: 0;
    height: 35px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}
.btn:hover{
    transform: scale(1.1);
}
.profile{
    text-align:center;
    padding:3%;
   
  }
  
  label{
    cursor:pointer;
    color: aliceblue;
    gap: 13px;
  }
  
  #imageName{
    color:green;
  }